{% extends 'layout.html' %}

{% block title %}
<title>Admin</title>
{% endblock %}
  

  
  

{% block body %}  
<div class="container">
  <h2>User Table</h2>
           
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Username</th>
        <th>Password</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      {% for i in adm%}
        <tr>
          <td>{{i.username}}</td>
          <td>{{i.password}}</td>
          <td>{{i.time}}</td>
        </tr>
      {% endfor%}
    </tbody>
  </table>
</div>

{% endblock %}