<!-- {% extends 'layout.html' %} -->
{% block links %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
{% endblock %}
{%block scripts%}
<script type ="text/javascript">

function bookdisplay(ele){
  var requestobj = {}
  requestobj["isbn"] = ele
  var url= "/api/book?isbn="+ele
  var xhttps = new XMLHttpRequest()
  xhttps.open('GET',url)
  xhttps.send()  
  xhttps.onload = function() {
    var data = JSON.parse(xhttps.responseText);
    if (xhttps.status=="200"){
      var htmltext = "<p id = 'isbnofbook'>"+data.isbn +'<ul>'+data.title+'</ul>'+'<ul>'+data.author+'</ul>'+'<ul>'+data.year+"</p><ul>";
    
    for(var i = 0; i < data.reviews.length; i++) {
             

              htmltext = htmltext + "<li><p>" + data.reviews[i]["email"] + " ===> " + data.reviews[i]["comment"] +"</p></li>"
            }
            htmltext = htmltext + "</ul>"
            document.getElementById("reviewresults").innerHTML=htmltext;
    } else {
      if (xhttps.status == 404){
        var text = "<ul>"+data+"</ul>"
      }else if (xhttps.status == 500){
        var text = "<ul>"+data+"</ul>"
      }
      document.getElementById("reviewresults").innerHTML=text;
    }
     
  }
  
}

    </script>
    {% endblock %}

{% block body %}  
    <nav class="navbar navbar-light navbar-fixed-top" style="background-color: #e3f2fd;" >
            <a class="navbar-brand">{{message}} {{username}}</a>
            <form class ="form-inline" > 
              
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit" formmethod="GET" formaction=" {{url_for ('logout'
              )}}">Logout</button>
            
            </form>
          </nav>   
<button onclick="bookdisplay(1416949658)">bookdetails</button>
<div id = "reviewresults"></div>
{% endblock %}

  