<html>
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">

	</head>
	<body>
		<h1>Successfully Registered</h1><br>
		<h2>username : {{name}}</h2>
		<h3>Email : {{email}}</h3>

		   
    </body>

	</html>